/* body, html {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
  } */
  /* .centered-div {
    display: grid;
    place-items: center;
    width: 50%;
    height: 50%;
    background-color: lightblue;
    border: 2px solid blue;
  } */